<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <h1>Order Detail</h1>
    <table>
        <tr>
            <td>Order ID:</td>
            <td th:text="${order.id}">1</td>
        </tr>
        <tr>
            <td>Customer:</td>
            <td th:text="${order.customer.name}">Customer Name</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${order.addressDelivery}">Address</td>
        </tr>
        <tr>
            <td>Note:</td>
            <td th:text="${order.note}">Note</td>
        </tr>
        <tr>
            <td>Payment:</td>
            <td th:text="${order.payment.method}">Payment Method</td>
        </tr>
        <tr>
            <td>Delivery Time:</td>
            <td th:text="${#dates.format(order.timeDelivery, 'yyyy-MM-dd HH:mm')}">Delivery Time</td>
        </tr>
        <tr>
            <td>Employee:</td>
            <td th:text="${order.employee.name}">Employee</td>
        </tr>
        <tr>
            <td>Total Price:</td>
            <td th:text="${order.totalPrice}">Total Price</td>
        </tr>
    </table>
    <a th:href="@{/orders}">Back to Orders</a>
</div>
</body>
</html>