<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="/css/employee.css">
</head>
<body>
<div layout:fragment="custom-content">
    <div class="container mt-5">
        <h2>Edit Customer</h2>
        <form th:action="@{/admin/customers/edit/{id}(id=${customer.id})}" th:object="${customer}" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
            </div>
            <div class="form-group">
                <label for="numberPhone">Phone Number</label>
                <input type="text" class="form-control" id="numberPhone" th:field="*{numberPhone}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="password">Password (Leave blank if not changing)</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="isLocked">Is Locked</label>
                <input type="checkbox" id="isLocked" th:field="*{isLocked}">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>
