<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<section layout:fragment="custom-content">
    <section class="py-24">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h2 class="font-manrope font-bold text-3xl min-[400px]:text-4xl text-black mb-8 max-lg:text-center">Danh sách sản phẩm</h2>
            <div class="d-flex justify-content-between align-items-center">
                <div style="position: relative;">
                    <form class="d-flex">
                        <input id="search-input" class="form-control me-2" type="search" placeholder="Search Products" name="query" autocomplete="off">
                        <button class="btn btn-outline-success" type="button">Search</button>
                    </form>
                    <ul id="search-results" class="list-group search-results" style="display: none;"></ul>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8" th:each="product: ${products}">
                <a  class="max-w-[384px] mx-auto">
                    <div class="w-full max-w-sm aspect-square">
                        <img src="https://www.coca-cola.com/content/dam/onexp/vn/home-image/coca-cola/Coca-Cola_OT%20320ml_VN-EX_Desktop.png"
                             alt="" class="w-full h-full rounded-xl"/>
                    </div>
                    <div class="mt-5 flex items-center justify-between">
                        <div class="">
                            <h6 class="font-medium text-xl leading-8 text-black mb-2" th:text="${product.name}">Lon Cocacola</h6>
                            <h6 class="font-semibold text-xl leading-8 text-indigo-600" th:text="${product.price}">15.000 vnđ</h6>
                        </div>
                        <button
                                class="p-2 min-[400px]:p-4 rounded-full bg-white border border-gray-300 flex items-center justify-center group shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-400 hover:bg-gray-50">
                            <svg class="ml-1 stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                                 xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                 fill="none">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                            </svg>
                        </button>
                    </div>
                </a>

            </div>
        </div>
    </section>
</section>
</body>
</html>