<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout.html}">
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<section layout:fragment="custom-content">
    <!-- LOGIN -->
    <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Đăng nhập tài khoản của bạn
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600 max-w">
                Hoặc
                <a href="/register" class="ml-1 font-medium text-blue-600 hover:text-blue-500">
                    tạo tài khoản
                </a>
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form class="space-y-6" th:action="@{/login}" method="post">

                    <div th:if="${param.error}" class="alert alert-danger text-center">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success text-center">
                        You have been logged out.
                    </div>

                    <div>
                        <label for="username" class="block text-sm font-medium text-gray-700">
                            Số điện thoại
                        </label>
                        <div class="mt-1">
                            <input id="username" name="username" type="text" autocomplete="username" required
                                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                   placeholder="Nhập tên đăng nhập"/>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-700">
                            Mật khẩu
                        </label>
                        <div class="mt-1">
                            <input id="password" name="password" type="password" autocomplete="current-password" required
                                   class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                   placeholder="Nhập mật khẩu"/>
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <input id="remember_me" name="remember_me" type="checkbox"
                                   class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"/>
                            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                                Nhớ mật khẩu
                            </label>
                        </div>

                        <div class="text-sm">
                            <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
                                Quên mật khẩu?
                            </a>
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Đăng nhập
                        </button>
                    </div>

                    <div class="mt-6">
                        <div class="relative">
                            <div class="absolute inset-0 flex items-center">
                                <div class="w-full border-t border-gray-300"></div>
                            </div>
                            <div class="relative flex justify-center text-sm">
                                    <span class="px-2 bg-gray-100 text-gray-500">
                                        Hoặc đăng nhập bằng
                                    </span>
                            </div>
                        </div>

                        <div class="mt-6 grid grid-cols-3 gap-3">
                            <div>
                                <a th:href="@{/oauth2/authorization/facebook}"
                                   class="w-full flex items-center justify-center px-8 py-3 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
                                    <img class="h-5 w-5" src="https://www.svgrepo.com/show/512120/facebook-176.svg" alt=""/>
                                </a>
                            </div>
                            <div>
                                <a th:href="@{/oauth2/authorization/twitter}"
                                   class="w-full flex items-center justify-center px-8 py-3 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
                                    <img class="h-5 w-5" src="https://www.svgrepo.com/show/513008/twitter-154.svg" alt=""/>
                                </a>
                            </div>
                            <div>
                                <a th:href="@{/oauth2/authorization/google}"
                                   class="w-full flex items-center justify-center px-8 py-3 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50">
                                    <img class="h-6 w-6" src="https://www.svgrepo.com/show/506498/google.svg" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>