<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>Đăng kí</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<section layout:fragment="custom-content">
    <!--    REGISTER-->
    <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Đăng kí tài khoản mới
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600 max-w">
                Nếu đã có tài khoản
                <a href="/login" class="ml-1 font-medium text-blue-600 hover:text-blue-500">
                    Đăng nhập
                </a>
            </p>
        </div>

        <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form th:action="@{/register}" method="post">
                    <!--                    Ten dang nhap - so dien thoai-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mt-4">
                            Số điện thoại
                        </label>
                        <input type="text" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your phone number" />
                    </div>
                    <!--                    Mat khau-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mt-4">
                            Mật khẩu
                        </label>
                        <input type="password" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your password" />
                    </div>
                    <!--                    Nhap lai mat khau-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mt-4">
                            Nhập lại mật khẩu
                        </label>
                        <input type="password" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Confirm your password" />
                    </div>
<!--                    Email-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700">
                            Địa chỉ email
                        </label>
                        <input type="email" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your email" />
                    </div>
                    <!--                    Ho va ten lot-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mt-4">
                            Họ và tên lót
                        </label>
                        <input type="text" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your full name" />
                    </div>
<!--                    Ten-->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mt-4">
                            Tên
                        </label>
                        <input type="text" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter your full name" />
                    </div>

<!--                    Dang ky-->
                    <button type="submit" class="btn-submit w-full p-2 mt-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-offset-2 focus:ring-indigo-500">
                        Đăng kí
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>
</body>
</html>