<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Đơn hàng của tôi</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<section layout:fragment="custom-content" class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Đơn hàng của tôi</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${order.status ? 'Đã giao' : 'Chưa giao'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
